* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

header,
main {
  background-color: white;
}
header {
  margin-bottom: 30px;
  padding: 10px;
}

h1,
figure {
  vertical-align: middle;
  display: inline-block;
}
h1 {
  font-size: 50px;
}

main {
  margin: 0 auto;
  width: 80%;
  color: #2c2929;
}

.main-top,
.main-bottom {
  padding: 20px 50px;
}

button {
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: #47adf1;
  color: white;
  border: 0;
}

.secondary {
  color: lightgray;
  background-color: white;
  border: 0.5px solid lightgray;
}

section {
  margin-top: 20px;
}

h4 {
  margin-bottom: 10px;
}
.sign {
  display: inline;
  color: white;
  background-color: #47adf1;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
  font-size: 14px;
}

li::before {
  border: 2px solid #64c0a9;
  border-radius: 100%;
  padding: 2px;
  content: "\2713";
  color: #64c0a9;
}
#section-2 li:last-child .sign {
  background-color: orangered;
}
#section-2 li:nth-child(2) .sign {
  background-color: rgb(242, 116, 247);
}

#section-2 li:nth-child(3) .sign {
  background-color: lightcoral;
}

#section-2 li:nth-child(3)::before,
#section-3 li:first-child:before {
  border-color: red;
  color: red;
  content: "\2613";
}

#section-3 li:nth-child(2) .sign {
  background-color: pink;
}

#section-3 li:nth-child(3) .sign {
  background-color: chartreuse;
}

#section-3 li:first-child .sign {
  display: none;
}
